@model IEnumerable<DapperMerybettAvila.Models.Cliente_model>

@{
    ViewBag.Title = "Crear";
}

<h2>Nuevo Cliente</h2>

<form action="Crear" method="post">
    @using (Html.BeginForm())
    {


        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Nro Documento</label>
            <input type="text" class="form-control" id="NroDocumento" name="NroDocumento" aria-describedby="Documento">
        </div>

        <div class="form-group">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" aria-describedby="Nombre">
        </div>

        <div class="form-group">
            <label for="Direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="Direccion" name="Direccion" aria-describedby="Direccion">
        </div>

        <div class="form-group">
            <label for="Telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="Telefono" name="Telefono" aria-describedby="Telefono">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>


    }
</form>
